:root {
    --cor-fundo-claro: #E9F4FD;
    --cor-primaria: #1A2C42;
    --cor-secundaria: #8c6e4e;
    --cor-texto-claro: #1A2C42;
    --cor-branca: #ffffff;
    --borda-arredondada: 40px;
    --borda-botao: #AFCBFF;
    --cor-fundo-escuro: #1A2C42;
}


@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Great+Vibes&display=swap');

.totem-container.text-center-flex {
    background-color: var(--cor-fundo-claro) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;

}

body {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-primaria);
    font-family: 'Kameron', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    width: 100%;
}


.totem-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--cor-fundo-escuro);
    padding: 0 !important;
}

h1,
h2,
h3 {
    color: var(--cor-primaria);
    font-weight: 700;
}

.btn-primary-custom {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border: none;
    padding: 30px 90px;
    border-radius: var(--borda-arredondada);
    font-size: 2.9rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-primary-custom:hover {
    background-color: #0c2744;
    color: var(--cor-branca);
}

.logo-container {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 650px;
}

.logo-image {
    width: 100%;
    height: auto;
}

.secondary-text-large {
    font-size: 2.4rem;
    color: var(--cor-texto-claro);
    margin-top: 20px !important;
    text-align: center;
    width: 100%;
}

.header-image-container {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.main-content-area {
    height: 70vh;
    background-color: var(--cor-fundo-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.875rem;
    width: 100%;
}


.choice-title {
    color: var(--cor-branca);
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 11.25rem;
    margin-bottom: 6.25rem;
}


.selection-box {
    background-color: var(--cor-fundo-claro);
    color: var(--cor-primaria);
    height: 17.5rem;
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.selection-box:hover {
    background-color: #d8e5f2;
    transform: scale(1.02);
}


.btn-cancel-custom {
    background-color: transparent;
    color: var(--borda-botao);
    border: 3px solid var(--borda-botao);
    padding: 0.9375rem 3.125rem;
    border-radius: 0;
    font-size: 1.6rem;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-top: auto;
    margin-bottom: 1.875rem;
}

.btn-cancel-custom:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--cor-branca);
}

.btn-cancel-custom-tipos {
    color: var(--borda-botao);
    border: 3px solid var(--borda-botao);
    border-radius: 0;
    padding: 0.9375rem 0.125rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    min-width: 150px;
    flex-grow: 1;
}

.btn-cancel-custom-tipos:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--cor-branca);
}

.header-image-container {
    height: 25vh;
}

.main-content-area {
    height: 75vh;
    padding: 1.875rem 1.875rem;
}


.choice-title {
    color: var(--cor-branca);
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.payment-box {
    height: 17rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0.625rem;
}

.payment-box img {
    max-height: 12rem;
    max-width: 80%;
    width: auto;
    margin-top: 0.9375rem;
}

.btn-cancel-custom-pagamento {
    color: var(--borda-botao);
    border: 3px solid var(--borda-botao);
    border-radius: 0;
    padding: 0.9375rem 0.125rem;
    margin-bottom: 1.5rem;

}

.btn-cancel-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}